
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
.site-footer {
    background-color: #f0f8ff;
    padding: 20px 20px;
    font-size: 14px;
    height: 200px;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .copyright {
    margin-bottom: 15px;
    color: #333;
  }
  
  .footer-nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15px;
  }
  
  .footer-nav li {
    margin: 0 10px;
  }
  
  .footer-nav a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
  }
  
  .footer-nav a:hover {
    color: #007bff;
  }
  
  .social-links {
    display: flex;
    gap: 15px;
    margin-bottom: 1em;
  }
  
  .footer-content .social-links a {
    color: #333;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
  .footer-content .social-links a:hover {
    color: #007bff;
  }
  
  @media (max-width: 768px) {
    .site-footer {
      height: fit-content;
    }
    .footer-nav ul {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-nav li {
      margin: 5px 0;
    }
  }